.navbar {
  position: fixed;

  @include media-breakpoint-down(sm) {
    position: static;
  }

  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background-color: white;

  .nav-link {
    color: $unixmib-dark !important;
    &:hover {
      text-decoration: none !important;
      color: $unixmib-green !important;
    }
  }
}