#page-404 {
    color: white;
    .bg {
        z-index: 1;
        height: 100vh;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include cover-background('../assets/hero.jpg', true);
        position: absolute;
    }

    .text {
        position: absolute;
        padding: 2.5rem;
        margin-top: 3.9rem;
        z-index: 2;
    }
}