#page-eventi {
  section#eventi {
    div {
      &.ldmi {
        background: #ffb600;
        color: black;
      }

      &.akademy {
        background: #aaccee;
        color: black;
      }

      &.rhel {
        background: #cb0000;
        color: black;
      }

      &.tgif {
        background: #006879;
        color: white;
      }
    }

    .row {
      padding: 3rem 0 3rem 0;
      .text {
        h2 {
          padding-bottom: 1rem;
        }
        text-align: left;
        h2 {
          line-height: 2rem
        };
      }
    }
  }
}

.events-footer {
  color: white;
  background-color: #212121;
  text-align: center;
  padding: 2rem 2.5rem 2rem;
  span, a:link, a:visited {
    color: $accent;
    &:hover {
      color: var(--blue);
    }
  }
}