main#page-home {
  section {
    &#chiSiamo,
    &#cosaFacciamo {
      margin: 2rem 0 3rem 0;
    }
    &#comeContattarci {
      margin: 2rem 0 2rem 0;
      .row {
        margin-top: 1rem;

        .col-md{
          a:hover {
            color: $accent;
            b{
              text-decoration: none;
            }
          }
        }     

      }
    }
  }

  div {
    &.img {
      &#foto1 {
        @include cover-background('../assets/foto1.jpg', true);
      }

      &#foto2 {
        @include cover-background('../assets/foto2.jpg', true);
      }
    }
  }
}
